<div class="row main-content">
  <mat-card class="example-card col-11 col-sm-8">
    <mat-card-header>
      <mat-card-title>Livraison</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <mat-label class="col-4">Date de livraison: </mat-label>
        <p>{{delivery.deliveryDate|date: 'EEEE, d MMMM y At HH:MM'}}</p>
      </div>


      <div class="row">
        <mat-label class="col-4">Détails: </mat-label>
        <mat-card class="col-12">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="deliveryDetails" aria-describedby="List of commands">

              <!-- Product Column -->
              <ng-container matColumnDef="product">
                <th mat-header-cell id="product" *matHeaderCellDef> Produit </th>
                <td mat-cell *matCellDef="let element"> {{element.commandRow.product.name}} </td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="quantityOrdered">
                <th mat-header-cell id="quantityOrdered" *matHeaderCellDef> Quantité Commandée </th>
                <td mat-cell *matCellDef="let element"> {{element.commandRow.quantityOrdered}} </td>
              </ng-container>

              <!-- Remaining Column -->
              <ng-container matColumnDef="remaining">
                <th mat-header-cell id="remaining" *matHeaderCellDef> Reste à Livrer </th>
                <td mat-cell *matCellDef="let element"> {{element.commandRow.remaining}} </td>
              </ng-container>

              <!-- Delivered Column -->
              <ng-container matColumnDef="quantityDelivered">
                <th mat-header-cell id="quantityDelivered" *matHeaderCellDef> Quantité livrée </th>
                <td mat-cell *matCellDef="let element"> {{element.quantityDelivered}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr class="detailed-row" mat-row *matRowDef="let rowele; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="pageSizeOption"></mat-paginator>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
