<mat-card>
  <mat-card-header class="mat-card-header-margin">
    <mat-card-title><mat-icon class="icon_allign">view_module</mat-icon>Liste des commandes</mat-card-title>
  </mat-card-header>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="commands" aria-describedby="List of commands">


      <!-- Label Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell id="title" *matHeaderCellDef> Libellé </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="commandDate">
        <th mat-header-cell id="command-date" *matHeaderCellDef> Date de la commande </th>
        <td mat-cell *matCellDef="let element"> {{element.commandDate|date: 'EEEE, d MMMM y At HH:MM'}} </td>
      </ng-container>

      <!-- Total Price Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell id="total-price" *matHeaderCellDef> Prix total </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell id="action" *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button class="icon-button mr-2" color="primary" (click)="onDetails(row.id)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="detailed-row" mat-row *matRowDef="let rowele; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOption"></mat-paginator>
  </div>

  <div class="row justify-content-end pt-4">
    <div class="col-12 text-right">
      <button class="button_margin_top" mat-raised-button color="primary" (click)="onNew()">
        <mat-icon>add</mat-icon>
        <span>Nouvelle Commande</span>
      </button>
    </div>
  </div>
</mat-card>
