<div [ngClass]="{'invert-color' : invertColor}" (click)="onClick()">
    <div class="col" *ngIf="type==='cross'">
        <div class="con" [ngClass]="{'end':state === 'ham-closed','start': state === 'ham-opened'}">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
        </div>
    </div>
    <div class="col" *ngIf="type==='left-arrow'">
        <div class="con" [ngClass]="{'end':state === 'ham-closed','start': state === 'ham-opened'}">
            <div class="bar arrow-top"></div>
            <div class="bar arrow-middle"></div>
            <div class="bar arrow-bottom"></div>
        </div>
    </div>
    
    <div class="col" *ngIf="type==='right-arrow'">
        <div class="con" [ngClass]="{'end':state === 'ham-closed','start': state === 'ham-opened'}">
            <div class="bar arrow-top-r"></div>
            <div class="bar arrow-middle-r"></div>
            <div class="bar arrow-bottom-r"></div>
        </div>
    </div>
    
    <div class="col" *ngIf="type==='flat'">
        <div class="con" [ngClass]="{'end':state === 'ham-closed','start': state === 'ham-opened'}">
            <div class="bar arrow-top-fall"></div>
            <div class="bar arrow-middle-fall"></div>
            <div class="bar arrow-bottom-fall"></div>
        </div>
    </div>
    </div>