$lg : 1200px;
$md : 992px;
$sm: 768px;
$xs: 576px;

$primary: linear-gradient(50deg, #3f51b5,#5d6fd3);
$accent: linear-gradient(50deg,#ff4081,#ff5e9f);
$warn: linear-gradient(50deg,#f44336,#ff6254);
$primaryLight: linear-gradient(50deg, #3f51b5,#ffffff);
$accentLight: linear-gradient(50deg,#ff4081,#ffffff);
$warnLight: linear-gradient(50deg,#f44336,#ffffff);
