<mat-card>
  <mat-card-header class="justify-content-center">
    <mat-card-title>Mise à jour d'un Produit</mat-card-title>
  </mat-card-header>

  <div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
      <div class="offset-1 col-sm-10">
        <div class="row justify-content-center">
          <mat-form-field class="col-12 col-sm-10">
            <mat-label>Nom</mat-label>
            <input type="text"  matInput
                   formControlName="name"
                   placeholder="Nom du produit">
            <mat-error *ngIf="productForm.get('name').hasError('required')">
              Nom <strong>requis</strong>
            </mat-error>
          </mat-form-field>
          <p *ngIf="duplicatedName">Un Produit de ce nom existe déjà</p>
        </div>

        <div class="row justify-content-center">
          <mat-form-field class="col-12 col-sm-10">
            <mat-label>Description</mat-label>
            <textarea type="text"  matInput
                      formControlName="description"
                      placeholder="Description du produit"></textarea>
            <mat-error *ngIf="productForm.get('description').hasError('required')">
              Description <strong>requise</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row justify-content-center">
          <mat-form-field class="col-12 col-sm-10">
            <mat-label>Prix Unitaire:</mat-label>
            <input type="number"  matInput
                   formControlName="unitPrice"
                   placeholder="Prix unitaire">
            <mat-error *ngIf="productForm.get('unitPrice').hasError('required')">
              Prix unitaire <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row justify-content-center">
          <mat-form-field class="col-12 col-sm-10">
            <mat-label>Unité de stock:</mat-label>
            <mat-select formControlName="stockUnit">
              <mat-option value="U">U</mat-option>
              <mat-option value="FF">FF</mat-option>
              <mat-option value="L">L</mat-option>
              <mat-option value="ml">ml</mat-option>
              <mat-option value="m2">m2</mat-option>
              <mat-option value="m3">m3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row justify-content-center">
          <mat-form-field class="col-12 col-sm-10">
            <mat-label>Quantité en stock: </mat-label>
            <input matInput
                   type="number"
                   min="0"
                   formControlName="stockQuantity">
          </mat-form-field>
        </div>

        <div class="row justify-content-center">
          <mat-form-field class="col-12 col-sm-10">
            <mat-label>Stock d'alerte: </mat-label>
            <input matInput
                   type="number"
                   min="0"
                   formControlName="alertThreshold">
          </mat-form-field>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12 text-center">
          <button mat-raised-button color="primary" type="reset"
                  class="button_margin_top mr-2 mr-sm-5" (click)="onReset()">Reset</button>
          <button class="button_margin_top" mat-raised-button color="primary" [disabled]="productForm.invalid">Mettre à jour</button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
