mat-card {
  width: 65%;
  margin-left: 12%;
  margin-top: 2%;
}

mat-card-header {
  text-align: center;
  margin-bottom: 2%;
}

mat-card-title {
  color: #3549bb;
}

form > div {
  display: flex;
  flex-direction: column;
}

form {
  padding: 1%;
}

.mat-action-row {
  align-self: flex-end;
}

@media screen and (max-width: 750px) {
  mat-card {
    width: 90%;
    margin-left: 2%;
  }
}

mat-form-field {
  margin-bottom: -1%;
}

mat-form-field + p {
  color: red;
  width: 80%;
  font-size: 90%;
  margin-bottom: 2%;
}
