<mat-card>
  <mat-card-header>
    <mat-card-title>Créer un produit</mat-card-title>
  </mat-card-header>

  <div mat-dialog-content>
    <form [formGroup]="productForm" (ngSubmit)="onCreateProduct()">
      <div class="row justify-content-center">
        <mat-form-field class="col-10">
          <mat-label>Nom: </mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error>Le nom est requis</mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center">
        <mat-form-field class="col-10">
          <mat-label>Description: </mat-label>
          <input matInput type="text" formControlName="description">
          <mat-error>La description est requiss</mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center">
        <mat-form-field class="col-10">
          <mat-label>Prix Unitaire (en FCFA): </mat-label>
          <input matInput type="number" formControlName="unitPrice" min="0">
          <mat-error>Prix unitaire requis</mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center">
        <mat-form-field class="col-10">
          <mat-label>Unité de stock:</mat-label>
          <mat-select formControlName="stockUnit">
            <mat-option value="U">U</mat-option>
            <mat-option value="FF">FF</mat-option>
            <mat-option value="L">L</mat-option>
            <mat-option value="ml">ml</mat-option>
            <mat-option value="m2">m2</mat-option>
            <mat-option value="m3">m3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row justify-content-center">
        <mat-form-field class="col-10">
          <mat-label>Stock d'alerte: </mat-label>
          <input matInput type="text" formControlName="alertThreshold">
        </mat-form-field>
      </div>

      <div mat-dialog-actions class="row pt-4">
        <div class="col-12 text-right">
          <button mat-raised-button
                  type="button"
                  color="warn"
                  (click)="onCancel()">Annuler</button>
          <button type="submit"
                  color="primary"
                  mat-raised-button
                  [mat-dialog-close]="productForm.get('name')!.value"
                  [disabled]="productForm.invalid">Créer</button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
