<mat-toolbar color="primary" [ngClass]="{'sticky': sticky}">
    <amt-hamburger-icon (click)="toggleSidebar()" [standalone]="false"></amt-hamburger-icon>
    <span>{{getTitle()}}</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>portrait</mat-icon>
          <span id="user-name">@{{user.user_name}}</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>email</mat-icon>
          <span>{{user.email}}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
</mat-toolbar>
