.active {
  background-color: #1c7430;
}

.unactive {
  background-color: #fa5151;
}

.main-content {
  display: flex;
  justify-content: center;
}

mat-card {
  padding:1% 2% 3% 2%;
  border-radius: 15px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid black;
  height: 11%;
}

mat-card-title {
  color: white;
  margin-top: 3%;
}

mat-card-title > span {
  font-style: italic;
}

mat-label {
  color: #abb8f6;
  font-size: 110%;
}

mat-card-content {
  padding-left: 5%;
}

mat-card-content > .row {
  margin-top: 4%;
}

div > span, div > p {
  font-family: "Barlow Light", serif;
  color: #313131;
  font-size: 130%;
}

#stock-qte {
  font-family: "Barlow ExtraBold", serif;
}
