<div class="row">
  <div [routerLink]="['/main/product-list']" class="offset-sm-1 col-md-4 col-sm-10 col-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Produits</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/tool-mason.jpg" alt="Products icon">
      <mat-card-content>
        <p>
          Gérez les produits
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div [routerLink]="['/main/command-list']" class="offset-sm-2 col-md-4 col-sm-10 col-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Commandes</mat-card-title>
      </mat-card-header>
      <img id="command" mat-card-image src="assets/images/command.jpg" alt="commands icon">
      <mat-card-content>
        <p>
          Gérez les commandes.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div [routerLink]="['/main/delivery-list']" class="offset-sm-1 col-md-4 col-sm-10 col-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Livraisons</mat-card-title>
      </mat-card-header>
      <img id="delivery" mat-card-image src="assets/images/delivery.jpg" alt="delivery icon">
      <mat-card-content>
        <p>
          Enregistrez les livraisons
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="offset-sm-2 col-md-4 col-sm-10 col-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Utilisateurs</mat-card-title>
      </mat-card-header>
      <img id="users" mat-card-image src="assets/images/users-icon.jpg" alt="users icon">
      <mat-card-content>
        <p>
          Gérez les utilisateurs
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
