mat-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

mat-card-header {
  background-color: #3f51b5;
  color: white;
  font-family: "Barlow SemiBold", "serif";
  padding: 2%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 90%;
  height: 75%;
  margin: auto;
}

#command {
  width: 63%;
  height: 40%;
  margin: 4%;
}

#users {
  width: 63%;
  height: 50%;
}

p {
  font-family: "Barlow SemiBold", "serif";
  font-size: 125%;
  text-align: center;
}

.row > div:hover {
  transform: scale(1.05);
  cursor: pointer;
}
