/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: "Barlow Light", "Helvetica Neue", sans-serif;
}

@import './assets/css/bootstrap.min.css';
@import './assets/css/_reset.scss';
@import './assets/css/_sidebar.scss';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';


[class*="col-"] {
    margin-bottom: 15px;
}
