<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left pt-2">
            <ul>
                <li *ngFor="let link of footerLinks">
                    <a mat-button [href]="link.url">
                        {{link.title}}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            {{test | date: 'yyyy'}}, All rights reserved by
            <a href="javasript:void(0)" target="_blank">Génie Militaire</a>.
        </div>
    </div>
</footer>
