<mat-card>
  <mat-card-header class="mat-card-header-margin">
    <mat-card-title><mat-icon class="icon_allign">view_module</mat-icon>Liste des commandes</mat-card-title>
  </mat-card-header>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="users" aria-describedby="List of commands">


      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell id="email" *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell id="name" *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell id="role" *matHeaderCellDef> Rôle </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="addDate">
        <th mat-header-cell id="addDate" *matHeaderCellDef> Date de création </th>
        <td mat-cell *matCellDef="let element"> {{element.addDate|date: 'EEEE, d MMMM y At HH:MM'}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell id="action" *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-button class="icon-button mr-2" color="primary" (click)="onDetails(row.id)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="detailed-row" mat-row *matRowDef="let rowele; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOption"></mat-paginator>
  </div>

  <!--
  <div class="row justify-content-end pt-4">
    <div class="col-12 text-right">
      <button class="button_margin_top" mat-raised-button color="primary" (click)="onNew()">
        <mat-icon>add</mat-icon>
        <span>Nouvelle Commande</span>
      </button>
    </div>
  </div>
  -->
</mat-card>
