<div class="row main-content">
  <mat-card class="example-card col-11 col-sm-8">
    <mat-card-header [ngClass]="{'under-stock': getAlertColor(), 'over-stock': !getAlertColor()}">
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <mat-label class="col-4">Description: </mat-label>
        <p>{{product.description}}</p>
      </div>

      <div class="row">
        <mat-label class="col-4">Prix Unitaire: </mat-label>
        <span>{{product.unitPrice}}</span>
      </div>

      <div class="row">
        <mat-label class="col-4">Quantité en stock: </mat-label>
        <span id="stock-qte" [ngStyle]="{'color': (getAlertColor())?'red':'green'}">{{product.stockQuantity}} {{product.stockUnit}}</span>
      </div>

      <div class="row">
        <mat-label class="col-4">Seuil d'alerte: </mat-label>
        <span id="alert-qte">{{product.alertThreshold}} {{product.stockUnit}}</span>
      </div>

      <div class="row">
        <mat-label class="col-4">Date d'enregistrement: </mat-label>
        <span>{{product.addDate|date: 'EEEE, d MMMM y At HH:MM'}}</span>
      </div>

      <div class="row pt-4">
        <div class="col-12 text-right">
          <button class="button_margin_top mr-5" mat-raised-button color="primary" (click)="onBack()">
            <mat-icon>arrow_back</mat-icon>
            <span>Retour à la liste</span>
          </button>
          <button mat-raised-button color="primary" type="submit" class="button_margin_top" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
            <span>Editer</span>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
