mat-card-header {
  margin-bottom: 3%;
}

mat-label {
  color: #abb8f6;
  font-size: 110%;
}

p {
  color: red;
  font-style: italic;
  font-weight: bolder;
  font-family: "Barlow Light", serif;
}
